body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-10px;
  width:1404px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1083_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:176px;
}
#u1083 {
  border-width:0px;
  position:absolute;
  left:972px;
  top:19px;
  width:442px;
  height:176px;
  display:flex;
}
#u1083 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1083_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1084 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:95px;
  width:984px;
  height:52px;
}
#u1084_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:984px;
  height:52px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1085 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:984px;
  height:52px;
}
#u1086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:52px;
}
#u1086 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:52px;
  display:flex;
  font-family:"Impact Bold Oblique", "Impact Bold", "Impact Normal", "Impact", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:20px;
  color:#F55116;
}
#u1086 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1086_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:52px;
}
#u1087 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:0px;
  width:123px;
  height:52px;
  display:flex;
  font-family:"Impact Bold Oblique", "Impact Bold", "Impact Normal", "Impact", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:20px;
  color:#F55116;
}
#u1087 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1087_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:52px;
}
#u1088 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:0px;
  width:123px;
  height:52px;
  display:flex;
  font-family:"Impact Bold Oblique", "Impact Bold", "Impact Normal", "Impact", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:20px;
  color:#F55116;
}
#u1088 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1088_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:52px;
}
#u1089 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:0px;
  width:123px;
  height:52px;
  display:flex;
  font-family:"Impact Bold Oblique", "Impact Bold", "Impact Normal", "Impact", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:20px;
  color:#F55116;
}
#u1089 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1089_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:52px;
}
#u1090 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:0px;
  width:123px;
  height:52px;
  display:flex;
  font-family:"Impact Bold Oblique", "Impact Bold", "Impact Normal", "Impact", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:20px;
  color:#F55116;
}
#u1090 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1090_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:52px;
}
#u1091 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:0px;
  width:123px;
  height:52px;
  display:flex;
  font-family:"Impact Bold Oblique", "Impact Bold", "Impact Normal", "Impact", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:20px;
  color:#F55116;
}
#u1091 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1091_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:52px;
}
#u1092 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:0px;
  width:123px;
  height:52px;
  display:flex;
  font-family:"Yu Gothic Bold Oblique", "Yu Gothic Bold", "Yu Gothic", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:16px;
  color:#F55116;
}
#u1092 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1092_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1093_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:52px;
}
#u1093 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:0px;
  width:123px;
  height:52px;
  display:flex;
  font-family:"Yu Gothic Bold Oblique", "Yu Gothic Bold", "Yu Gothic", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:18px;
  color:#F55116;
}
#u1093 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1093_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1094 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:52px;
  width:123px;
  height:120px;
  visibility:hidden;
}
#u1094_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:120px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1095 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:120px;
}
#u1096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u1096 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  display:flex;
}
#u1096 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1096_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u1097 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:123px;
  height:30px;
  display:flex;
}
#u1097 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1097_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u1098 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:123px;
  height:30px;
  display:flex;
}
#u1098 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1098_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u1099 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:123px;
  height:30px;
  display:flex;
}
#u1099 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1099_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1100 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:52px;
  width:123px;
  height:90px;
  visibility:hidden;
}
#u1100_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:90px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:90px;
}
#u1102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u1102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  display:flex;
}
#u1102 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u1103 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:123px;
  height:30px;
  display:flex;
}
#u1103 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u1104 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:123px;
  height:30px;
  display:flex;
}
#u1104 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1105 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:52px;
  width:123px;
  height:94px;
  visibility:hidden;
}
#u1105_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:94px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1106 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:94px;
}
#u1107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u1107 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  display:flex;
  color:#000000;
}
#u1107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:34px;
}
#u1108 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:123px;
  height:34px;
  display:flex;
  color:#000000;
}
#u1108 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u1109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:123px;
  height:30px;
  display:flex;
  color:#000000;
}
#u1109 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1110 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:52px;
  width:123px;
  height:60px;
  visibility:hidden;
}
#u1110_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:60px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1111 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:60px;
}
#u1112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u1112 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  display:flex;
  color:#000000;
}
#u1112 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1112_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u1113 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:123px;
  height:30px;
  display:flex;
  color:#000000;
}
#u1113 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1114 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:52px;
  width:123px;
  height:60px;
  visibility:hidden;
}
#u1114_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:60px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1115 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:60px;
}
#u1116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u1116 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  display:flex;
  color:#000000;
}
#u1116 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u1117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:123px;
  height:30px;
  display:flex;
  color:#000000;
}
#u1117 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:123px;
  height:90px;
  visibility:hidden;
}
#u1118_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:90px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:90px;
}
#u1120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u1120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  display:flex;
  color:#000000;
}
#u1120 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u1121 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:123px;
  height:30px;
  display:flex;
  color:#000000;
}
#u1121 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u1122 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:123px;
  height:30px;
  display:flex;
  color:#000000;
}
#u1122 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1122_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1123 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:30px;
  width:123px;
  height:60px;
  visibility:hidden;
}
#u1123_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:60px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1124 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:60px;
}
#u1125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u1125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  display:flex;
  color:#000000;
}
#u1125 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u1126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:123px;
  height:30px;
  display:flex;
  color:#000000;
}
#u1126 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1127 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:60px;
  width:123px;
  height:90px;
  visibility:hidden;
}
#u1127_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:90px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:90px;
}
#u1129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u1129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  display:flex;
  color:#000000;
}
#u1129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u1130 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:123px;
  height:30px;
  display:flex;
  color:#000000;
}
#u1130 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u1131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:123px;
  height:30px;
  display:flex;
  color:#000000;
}
#u1131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.49019607843137253);
  background-image:url('../../images/דף_הבית_דיירים/u58_div.png');
  background-repeat:no-repeat;
  background-size:57px 53px;
  background-position: right top;
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:rgba(163, 103, 23, 0.9921568627450981);
}
#u1132 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:94px;
  width:110px;
  height:53px;
  display:flex;
  font-size:18px;
  color:rgba(163, 103, 23, 0.9921568627450981);
}
#u1132 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1133 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:226px;
  width:253px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u1133 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:418px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
}
#u1134 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:283px;
  width:437px;
  height:418px;
  display:flex;
}
#u1134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1135 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:321px;
  width:124px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u1135 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1136_input {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1136_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1136_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1136_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1136 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:319px;
  width:229px;
  height:25px;
  display:flex;
}
#u1136 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1136_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1136.hint {
}
#u1136_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1136.disabled {
}
#u1136_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1136.hint.disabled {
}
#u1137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1137 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:378px;
  width:167px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u1137 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1138 label {
  left:0px;
  width:100%;
}
#u1138_img {
  border-width:0px;
  position:absolute;
  left:80px;
  top:2px;
  width:13px;
  height:13px;
}
#u1138 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:419px;
  width:93px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u1138 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1138_img.selected {
}
#u1138.selected {
}
#u1138_img.disabled {
}
#u1138.disabled {
}
#u1138_img.selected.error {
}
#u1138.selected.error {
}
#u1138_img.selected.hint {
}
#u1138.selected.hint {
}
#u1138_img.selected.error.hint {
}
#u1138.selected.error.hint {
}
#u1138_img.mouseOver.selected {
}
#u1138.mouseOver.selected {
}
#u1138_img.mouseOver.selected.error {
}
#u1138.mouseOver.selected.error {
}
#u1138_img.mouseOver.selected.hint {
}
#u1138.mouseOver.selected.hint {
}
#u1138_img.mouseOver.selected.error.hint {
}
#u1138.mouseOver.selected.error.hint {
}
#u1138_img.mouseDown.selected {
}
#u1138.mouseDown.selected {
}
#u1138_img.mouseDown.selected.error {
}
#u1138.mouseDown.selected.error {
}
#u1138_img.mouseDown.selected.hint {
}
#u1138.mouseDown.selected.hint {
}
#u1138_img.mouseDown.selected.error.hint {
}
#u1138.mouseDown.selected.error.hint {
}
#u1138_img.mouseOver.mouseDown.selected {
}
#u1138.mouseOver.mouseDown.selected {
}
#u1138_img.mouseOver.mouseDown.selected.error {
}
#u1138.mouseOver.mouseDown.selected.error {
}
#u1138_img.mouseOver.mouseDown.selected.hint {
}
#u1138.mouseOver.mouseDown.selected.hint {
}
#u1138_img.mouseOver.mouseDown.selected.error.hint {
}
#u1138.mouseOver.mouseDown.selected.error.hint {
}
#u1138_img.focused.selected {
}
#u1138.focused.selected {
}
#u1138_img.focused.selected.error {
}
#u1138.focused.selected.error {
}
#u1138_img.focused.selected.hint {
}
#u1138.focused.selected.hint {
}
#u1138_img.focused.selected.error.hint {
}
#u1138.focused.selected.error.hint {
}
#u1138_img.selected.disabled {
}
#u1138.selected.disabled {
}
#u1138_img.selected.hint.disabled {
}
#u1138.selected.hint.disabled {
}
#u1138_img.selected.error.disabled {
}
#u1138.selected.error.disabled {
}
#u1138_img.selected.error.hint.disabled {
}
#u1138.selected.error.hint.disabled {
}
#u1138_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
  text-transform:none;
}
#u1138_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1139 label {
  left:0px;
  width:100%;
}
#u1139_img {
  border-width:0px;
  position:absolute;
  left:60px;
  top:2px;
  width:13px;
  height:13px;
}
#u1139 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:450px;
  width:73px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u1139 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1139_img.selected {
}
#u1139.selected {
}
#u1139_img.disabled {
}
#u1139.disabled {
}
#u1139_img.selected.error {
}
#u1139.selected.error {
}
#u1139_img.selected.hint {
}
#u1139.selected.hint {
}
#u1139_img.selected.error.hint {
}
#u1139.selected.error.hint {
}
#u1139_img.mouseOver.selected {
}
#u1139.mouseOver.selected {
}
#u1139_img.mouseOver.selected.error {
}
#u1139.mouseOver.selected.error {
}
#u1139_img.mouseOver.selected.hint {
}
#u1139.mouseOver.selected.hint {
}
#u1139_img.mouseOver.selected.error.hint {
}
#u1139.mouseOver.selected.error.hint {
}
#u1139_img.mouseDown.selected {
}
#u1139.mouseDown.selected {
}
#u1139_img.mouseDown.selected.error {
}
#u1139.mouseDown.selected.error {
}
#u1139_img.mouseDown.selected.hint {
}
#u1139.mouseDown.selected.hint {
}
#u1139_img.mouseDown.selected.error.hint {
}
#u1139.mouseDown.selected.error.hint {
}
#u1139_img.mouseOver.mouseDown.selected {
}
#u1139.mouseOver.mouseDown.selected {
}
#u1139_img.mouseOver.mouseDown.selected.error {
}
#u1139.mouseOver.mouseDown.selected.error {
}
#u1139_img.mouseOver.mouseDown.selected.hint {
}
#u1139.mouseOver.mouseDown.selected.hint {
}
#u1139_img.mouseOver.mouseDown.selected.error.hint {
}
#u1139.mouseOver.mouseDown.selected.error.hint {
}
#u1139_img.focused.selected {
}
#u1139.focused.selected {
}
#u1139_img.focused.selected.error {
}
#u1139.focused.selected.error {
}
#u1139_img.focused.selected.hint {
}
#u1139.focused.selected.hint {
}
#u1139_img.focused.selected.error.hint {
}
#u1139.focused.selected.error.hint {
}
#u1139_img.selected.disabled {
}
#u1139.selected.disabled {
}
#u1139_img.selected.hint.disabled {
}
#u1139.selected.hint.disabled {
}
#u1139_img.selected.error.disabled {
}
#u1139.selected.error.disabled {
}
#u1139_img.selected.error.hint.disabled {
}
#u1139.selected.error.hint.disabled {
}
#u1139_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
  text-transform:none;
}
#u1139_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1140 label {
  left:0px;
  width:100%;
}
#u1140_img {
  border-width:0px;
  position:absolute;
  left:141px;
  top:2px;
  width:13px;
  height:13px;
}
#u1140 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:512px;
  width:154px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u1140 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1140_img.selected {
}
#u1140.selected {
}
#u1140_img.disabled {
}
#u1140.disabled {
}
#u1140_img.selected.error {
}
#u1140.selected.error {
}
#u1140_img.selected.hint {
}
#u1140.selected.hint {
}
#u1140_img.selected.error.hint {
}
#u1140.selected.error.hint {
}
#u1140_img.mouseOver.selected {
}
#u1140.mouseOver.selected {
}
#u1140_img.mouseOver.selected.error {
}
#u1140.mouseOver.selected.error {
}
#u1140_img.mouseOver.selected.hint {
}
#u1140.mouseOver.selected.hint {
}
#u1140_img.mouseOver.selected.error.hint {
}
#u1140.mouseOver.selected.error.hint {
}
#u1140_img.mouseDown.selected {
}
#u1140.mouseDown.selected {
}
#u1140_img.mouseDown.selected.error {
}
#u1140.mouseDown.selected.error {
}
#u1140_img.mouseDown.selected.hint {
}
#u1140.mouseDown.selected.hint {
}
#u1140_img.mouseDown.selected.error.hint {
}
#u1140.mouseDown.selected.error.hint {
}
#u1140_img.mouseOver.mouseDown.selected {
}
#u1140.mouseOver.mouseDown.selected {
}
#u1140_img.mouseOver.mouseDown.selected.error {
}
#u1140.mouseOver.mouseDown.selected.error {
}
#u1140_img.mouseOver.mouseDown.selected.hint {
}
#u1140.mouseOver.mouseDown.selected.hint {
}
#u1140_img.mouseOver.mouseDown.selected.error.hint {
}
#u1140.mouseOver.mouseDown.selected.error.hint {
}
#u1140_img.focused.selected {
}
#u1140.focused.selected {
}
#u1140_img.focused.selected.error {
}
#u1140.focused.selected.error {
}
#u1140_img.focused.selected.hint {
}
#u1140.focused.selected.hint {
}
#u1140_img.focused.selected.error.hint {
}
#u1140.focused.selected.error.hint {
}
#u1140_img.selected.disabled {
}
#u1140.selected.disabled {
}
#u1140_img.selected.hint.disabled {
}
#u1140.selected.hint.disabled {
}
#u1140_img.selected.error.disabled {
}
#u1140.selected.error.disabled {
}
#u1140_img.selected.error.hint.disabled {
}
#u1140.selected.error.hint.disabled {
}
#u1140_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
  text-transform:none;
}
#u1140_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1141 label {
  left:0px;
  width:100%;
}
#u1141_img {
  border-width:0px;
  position:absolute;
  left:146px;
  top:2px;
  width:13px;
  height:13px;
}
#u1141 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:481px;
  width:159px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u1141 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1141_img.selected {
}
#u1141.selected {
}
#u1141_img.disabled {
}
#u1141.disabled {
}
#u1141_img.selected.error {
}
#u1141.selected.error {
}
#u1141_img.selected.hint {
}
#u1141.selected.hint {
}
#u1141_img.selected.error.hint {
}
#u1141.selected.error.hint {
}
#u1141_img.mouseOver.selected {
}
#u1141.mouseOver.selected {
}
#u1141_img.mouseOver.selected.error {
}
#u1141.mouseOver.selected.error {
}
#u1141_img.mouseOver.selected.hint {
}
#u1141.mouseOver.selected.hint {
}
#u1141_img.mouseOver.selected.error.hint {
}
#u1141.mouseOver.selected.error.hint {
}
#u1141_img.mouseDown.selected {
}
#u1141.mouseDown.selected {
}
#u1141_img.mouseDown.selected.error {
}
#u1141.mouseDown.selected.error {
}
#u1141_img.mouseDown.selected.hint {
}
#u1141.mouseDown.selected.hint {
}
#u1141_img.mouseDown.selected.error.hint {
}
#u1141.mouseDown.selected.error.hint {
}
#u1141_img.mouseOver.mouseDown.selected {
}
#u1141.mouseOver.mouseDown.selected {
}
#u1141_img.mouseOver.mouseDown.selected.error {
}
#u1141.mouseOver.mouseDown.selected.error {
}
#u1141_img.mouseOver.mouseDown.selected.hint {
}
#u1141.mouseOver.mouseDown.selected.hint {
}
#u1141_img.mouseOver.mouseDown.selected.error.hint {
}
#u1141.mouseOver.mouseDown.selected.error.hint {
}
#u1141_img.focused.selected {
}
#u1141.focused.selected {
}
#u1141_img.focused.selected.error {
}
#u1141.focused.selected.error {
}
#u1141_img.focused.selected.hint {
}
#u1141.focused.selected.hint {
}
#u1141_img.focused.selected.error.hint {
}
#u1141.focused.selected.error.hint {
}
#u1141_img.selected.disabled {
}
#u1141.selected.disabled {
}
#u1141_img.selected.hint.disabled {
}
#u1141.selected.hint.disabled {
}
#u1141_img.selected.error.disabled {
}
#u1141.selected.error.disabled {
}
#u1141_img.selected.error.hint.disabled {
}
#u1141.selected.error.hint.disabled {
}
#u1141_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
  text-transform:none;
}
#u1141_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1142 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:563px;
  width:104px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u1142 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1143_input {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1143_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1143_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1143_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1143 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:563px;
  width:229px;
  height:25px;
  display:flex;
}
#u1143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1143_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1143.hint {
}
#u1143_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1143.disabled {
}
#u1143_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1143.hint.disabled {
}
#u1144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1144 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:623px;
  width:140px;
  height:40px;
  display:flex;
}
#u1144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1146 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:373px;
  width:125px;
  height:46px;
  display:flex;
  font-size:20px;
}
#u1146 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:145px;
}
#u1147 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:332px;
  width:178px;
  height:145px;
  display:flex;
}
#u1147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
