body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:947px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:176px;
}
#u2146 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:17px;
  width:442px;
  height:176px;
  display:flex;
}
#u2146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2147 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:87px;
  width:615px;
  height:52px;
}
#u2147_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:52px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:52px;
}
#u2149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:52px;
}
#u2149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:52px;
  display:flex;
  font-family:"Impact Bold Oblique", "Impact Bold", "Impact Normal", "Impact", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:20px;
  color:#F55116;
}
#u2149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:52px;
}
#u2150 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:0px;
  width:123px;
  height:52px;
  display:flex;
  font-family:"Impact Bold Oblique", "Impact Bold", "Impact Normal", "Impact", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:20px;
  color:#F55116;
}
#u2150 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:52px;
}
#u2151 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:0px;
  width:123px;
  height:52px;
  display:flex;
  font-family:"Impact Bold Oblique", "Impact Bold", "Impact Normal", "Impact", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:20px;
  color:#F55116;
}
#u2151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:52px;
}
#u2152 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:0px;
  width:123px;
  height:52px;
  display:flex;
  font-family:"Yu Gothic Bold Oblique", "Yu Gothic Bold", "Yu Gothic", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:20px;
  color:#F55116;
}
#u2152 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:52px;
}
#u2153 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:0px;
  width:123px;
  height:52px;
  display:flex;
  font-family:"Yu Gothic Bold Oblique", "Yu Gothic Bold", "Yu Gothic", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:20px;
  color:#F55116;
}
#u2153 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2154 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:52px;
  width:123px;
  height:90px;
  visibility:hidden;
}
#u2154_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:90px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2155 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:90px;
}
#u2156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u2156 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  display:flex;
}
#u2156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u2157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:123px;
  height:30px;
  display:flex;
}
#u2157 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u2158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:123px;
  height:30px;
  display:flex;
}
#u2158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2159 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:52px;
  width:123px;
  height:60px;
  visibility:hidden;
}
#u2159_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:60px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:60px;
}
#u2161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u2161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  display:flex;
}
#u2161 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u2162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:123px;
  height:30px;
  display:flex;
}
#u2162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2163 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:123px;
  height:90px;
  visibility:hidden;
}
#u2163_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:90px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:90px;
}
#u2165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u2165 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  display:flex;
  color:#000000;
}
#u2165 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u2166 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:123px;
  height:30px;
  display:flex;
  color:#000000;
}
#u2166 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u2167 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:123px;
  height:30px;
  display:flex;
  color:#000000;
}
#u2167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2169 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:27px;
  width:1px;
  height:1px;
  display:flex;
}
#u2169 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.49019607843137253);
  background-image:url('../../images/דף_הבית_דיירים/u58_div.png');
  background-repeat:no-repeat;
  background-size:57px 53px;
  background-position: right top;
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:rgba(163, 103, 23, 0.9921568627450981);
}
#u2170 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:79px;
  width:110px;
  height:53px;
  display:flex;
  font-size:18px;
  color:rgba(163, 103, 23, 0.9921568627450981);
}
#u2170 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2171 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:54px;
  width:108px;
  height:15px;
  display:flex;
}
#u2171 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2172 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:224px;
  width:520px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u2172 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2173_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:64px;
  padding:2px 2px 2px 2px;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u2173_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:64px;
  padding:2px 2px 2px 2px;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u2173_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:64px;
  padding:2px 2px 2px 2px;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u2173_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:64px;
  padding:2px 2px 2px 2px;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u2173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2173 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:504px;
  width:300px;
  height:64px;
  display:flex;
}
#u2173 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2173_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2173.hint {
}
#u2173_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:64px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2173.disabled {
}
#u2173_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:64px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2173.hint.disabled {
}
#u2174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2174 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:278px;
  width:167px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u2174 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2175 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:504px;
  width:167px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u2175 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2176 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:590px;
  width:140px;
  height:40px;
  display:flex;
}
#u2176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u2177 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:872px;
  width:314px;
  height:110px;
  display:flex;
  font-size:48px;
}
#u2177 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2178 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:269px;
  width:244px;
  height:30px;
}
#u2178_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:30px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:30px;
}
#u2180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:30px;
}
#u2180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:30px;
  display:flex;
}
#u2180 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:244px;
  height:90px;
  visibility:hidden;
}
#u2181_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:90px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:90px;
}
#u2183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:30px;
}
#u2183 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:30px;
  display:flex;
}
#u2183 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:30px;
}
#u2184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:244px;
  height:30px;
  display:flex;
}
#u2184 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:30px;
}
#u2185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:244px;
  height:30px;
  display:flex;
}
#u2185 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2186 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:323px;
  width:296px;
  height:15px;
  display:flex;
}
#u2186 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:138px;
}
#u2187 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:347px;
  width:1px;
  height:137px;
  display:flex;
  -webkit-transform:rotate(1.066630590396351deg);
  -moz-transform:rotate(1.066630590396351deg);
  -ms-transform:rotate(1.066630590396351deg);
  transform:rotate(1.066630590396351deg);
}
#u2187 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2188 label {
  left:0px;
  width:100%;
}
#u2188_img {
  border-width:0px;
  position:absolute;
  left:81px;
  top:2px;
  width:13px;
  height:13px;
}
#u2188 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:387px;
  width:94px;
  height:15px;
  display:flex;
}
#u2188 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2188_img.selected {
}
#u2188.selected {
}
#u2188_img.disabled {
}
#u2188.disabled {
}
#u2188_img.selected.error {
}
#u2188.selected.error {
}
#u2188_img.selected.hint {
}
#u2188.selected.hint {
}
#u2188_img.selected.error.hint {
}
#u2188.selected.error.hint {
}
#u2188_img.mouseOver.selected {
}
#u2188.mouseOver.selected {
}
#u2188_img.mouseOver.selected.error {
}
#u2188.mouseOver.selected.error {
}
#u2188_img.mouseOver.selected.hint {
}
#u2188.mouseOver.selected.hint {
}
#u2188_img.mouseOver.selected.error.hint {
}
#u2188.mouseOver.selected.error.hint {
}
#u2188_img.mouseDown.selected {
}
#u2188.mouseDown.selected {
}
#u2188_img.mouseDown.selected.error {
}
#u2188.mouseDown.selected.error {
}
#u2188_img.mouseDown.selected.hint {
}
#u2188.mouseDown.selected.hint {
}
#u2188_img.mouseDown.selected.error.hint {
}
#u2188.mouseDown.selected.error.hint {
}
#u2188_img.mouseOver.mouseDown.selected {
}
#u2188.mouseOver.mouseDown.selected {
}
#u2188_img.mouseOver.mouseDown.selected.error {
}
#u2188.mouseOver.mouseDown.selected.error {
}
#u2188_img.mouseOver.mouseDown.selected.hint {
}
#u2188.mouseOver.mouseDown.selected.hint {
}
#u2188_img.mouseOver.mouseDown.selected.error.hint {
}
#u2188.mouseOver.mouseDown.selected.error.hint {
}
#u2188_img.focused.selected {
}
#u2188.focused.selected {
}
#u2188_img.focused.selected.error {
}
#u2188.focused.selected.error {
}
#u2188_img.focused.selected.hint {
}
#u2188.focused.selected.hint {
}
#u2188_img.focused.selected.error.hint {
}
#u2188.focused.selected.error.hint {
}
#u2188_img.selected.disabled {
}
#u2188.selected.disabled {
}
#u2188_img.selected.hint.disabled {
}
#u2188.selected.hint.disabled {
}
#u2188_img.selected.error.disabled {
}
#u2188.selected.error.disabled {
}
#u2188_img.selected.error.hint.disabled {
}
#u2188.selected.error.hint.disabled {
}
#u2188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
  text-transform:none;
}
#u2188_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2189 label {
  left:0px;
  width:100%;
}
#u2189_img {
  border-width:0px;
  position:absolute;
  left:81px;
  top:2px;
  width:13px;
  height:13px;
}
#u2189 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:410px;
  width:94px;
  height:15px;
  display:flex;
}
#u2189 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2189_img.selected {
}
#u2189.selected {
}
#u2189_img.disabled {
}
#u2189.disabled {
}
#u2189_img.selected.error {
}
#u2189.selected.error {
}
#u2189_img.selected.hint {
}
#u2189.selected.hint {
}
#u2189_img.selected.error.hint {
}
#u2189.selected.error.hint {
}
#u2189_img.mouseOver.selected {
}
#u2189.mouseOver.selected {
}
#u2189_img.mouseOver.selected.error {
}
#u2189.mouseOver.selected.error {
}
#u2189_img.mouseOver.selected.hint {
}
#u2189.mouseOver.selected.hint {
}
#u2189_img.mouseOver.selected.error.hint {
}
#u2189.mouseOver.selected.error.hint {
}
#u2189_img.mouseDown.selected {
}
#u2189.mouseDown.selected {
}
#u2189_img.mouseDown.selected.error {
}
#u2189.mouseDown.selected.error {
}
#u2189_img.mouseDown.selected.hint {
}
#u2189.mouseDown.selected.hint {
}
#u2189_img.mouseDown.selected.error.hint {
}
#u2189.mouseDown.selected.error.hint {
}
#u2189_img.mouseOver.mouseDown.selected {
}
#u2189.mouseOver.mouseDown.selected {
}
#u2189_img.mouseOver.mouseDown.selected.error {
}
#u2189.mouseOver.mouseDown.selected.error {
}
#u2189_img.mouseOver.mouseDown.selected.hint {
}
#u2189.mouseOver.mouseDown.selected.hint {
}
#u2189_img.mouseOver.mouseDown.selected.error.hint {
}
#u2189.mouseOver.mouseDown.selected.error.hint {
}
#u2189_img.focused.selected {
}
#u2189.focused.selected {
}
#u2189_img.focused.selected.error {
}
#u2189.focused.selected.error {
}
#u2189_img.focused.selected.hint {
}
#u2189.focused.selected.hint {
}
#u2189_img.focused.selected.error.hint {
}
#u2189.focused.selected.error.hint {
}
#u2189_img.selected.disabled {
}
#u2189.selected.disabled {
}
#u2189_img.selected.hint.disabled {
}
#u2189.selected.hint.disabled {
}
#u2189_img.selected.error.disabled {
}
#u2189.selected.error.disabled {
}
#u2189_img.selected.error.hint.disabled {
}
#u2189.selected.error.hint.disabled {
}
#u2189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
  text-transform:none;
}
#u2189_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2190 label {
  left:0px;
  width:100%;
}
#u2190_img {
  border-width:0px;
  position:absolute;
  left:81px;
  top:2px;
  width:13px;
  height:13px;
}
#u2190 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:433px;
  width:94px;
  height:15px;
  display:flex;
}
#u2190 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2190_img.selected {
}
#u2190.selected {
}
#u2190_img.disabled {
}
#u2190.disabled {
}
#u2190_img.selected.error {
}
#u2190.selected.error {
}
#u2190_img.selected.hint {
}
#u2190.selected.hint {
}
#u2190_img.selected.error.hint {
}
#u2190.selected.error.hint {
}
#u2190_img.mouseOver.selected {
}
#u2190.mouseOver.selected {
}
#u2190_img.mouseOver.selected.error {
}
#u2190.mouseOver.selected.error {
}
#u2190_img.mouseOver.selected.hint {
}
#u2190.mouseOver.selected.hint {
}
#u2190_img.mouseOver.selected.error.hint {
}
#u2190.mouseOver.selected.error.hint {
}
#u2190_img.mouseDown.selected {
}
#u2190.mouseDown.selected {
}
#u2190_img.mouseDown.selected.error {
}
#u2190.mouseDown.selected.error {
}
#u2190_img.mouseDown.selected.hint {
}
#u2190.mouseDown.selected.hint {
}
#u2190_img.mouseDown.selected.error.hint {
}
#u2190.mouseDown.selected.error.hint {
}
#u2190_img.mouseOver.mouseDown.selected {
}
#u2190.mouseOver.mouseDown.selected {
}
#u2190_img.mouseOver.mouseDown.selected.error {
}
#u2190.mouseOver.mouseDown.selected.error {
}
#u2190_img.mouseOver.mouseDown.selected.hint {
}
#u2190.mouseOver.mouseDown.selected.hint {
}
#u2190_img.mouseOver.mouseDown.selected.error.hint {
}
#u2190.mouseOver.mouseDown.selected.error.hint {
}
#u2190_img.focused.selected {
}
#u2190.focused.selected {
}
#u2190_img.focused.selected.error {
}
#u2190.focused.selected.error {
}
#u2190_img.focused.selected.hint {
}
#u2190.focused.selected.hint {
}
#u2190_img.focused.selected.error.hint {
}
#u2190.focused.selected.error.hint {
}
#u2190_img.selected.disabled {
}
#u2190.selected.disabled {
}
#u2190_img.selected.hint.disabled {
}
#u2190.selected.hint.disabled {
}
#u2190_img.selected.error.disabled {
}
#u2190.selected.error.disabled {
}
#u2190_img.selected.error.hint.disabled {
}
#u2190.selected.error.hint.disabled {
}
#u2190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
  text-transform:none;
}
#u2190_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2191 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:331px;
  width:185px;
  height:15px;
  display:flex;
}
#u2191 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2192 label {
  left:0px;
  width:100%;
}
#u2192_img {
  border-width:0px;
  position:absolute;
  left:35px;
  top:2px;
  width:13px;
  height:13px;
}
#u2192 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:384px;
  width:48px;
  height:15px;
  display:flex;
}
#u2192 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2192_img.selected {
}
#u2192.selected {
}
#u2192_img.disabled {
}
#u2192.disabled {
}
#u2192_img.selected.error {
}
#u2192.selected.error {
}
#u2192_img.selected.hint {
}
#u2192.selected.hint {
}
#u2192_img.selected.error.hint {
}
#u2192.selected.error.hint {
}
#u2192_img.mouseOver.selected {
}
#u2192.mouseOver.selected {
}
#u2192_img.mouseOver.selected.error {
}
#u2192.mouseOver.selected.error {
}
#u2192_img.mouseOver.selected.hint {
}
#u2192.mouseOver.selected.hint {
}
#u2192_img.mouseOver.selected.error.hint {
}
#u2192.mouseOver.selected.error.hint {
}
#u2192_img.mouseDown.selected {
}
#u2192.mouseDown.selected {
}
#u2192_img.mouseDown.selected.error {
}
#u2192.mouseDown.selected.error {
}
#u2192_img.mouseDown.selected.hint {
}
#u2192.mouseDown.selected.hint {
}
#u2192_img.mouseDown.selected.error.hint {
}
#u2192.mouseDown.selected.error.hint {
}
#u2192_img.mouseOver.mouseDown.selected {
}
#u2192.mouseOver.mouseDown.selected {
}
#u2192_img.mouseOver.mouseDown.selected.error {
}
#u2192.mouseOver.mouseDown.selected.error {
}
#u2192_img.mouseOver.mouseDown.selected.hint {
}
#u2192.mouseOver.mouseDown.selected.hint {
}
#u2192_img.mouseOver.mouseDown.selected.error.hint {
}
#u2192.mouseOver.mouseDown.selected.error.hint {
}
#u2192_img.focused.selected {
}
#u2192.focused.selected {
}
#u2192_img.focused.selected.error {
}
#u2192.focused.selected.error {
}
#u2192_img.focused.selected.hint {
}
#u2192.focused.selected.hint {
}
#u2192_img.focused.selected.error.hint {
}
#u2192.focused.selected.error.hint {
}
#u2192_img.selected.disabled {
}
#u2192.selected.disabled {
}
#u2192_img.selected.hint.disabled {
}
#u2192.selected.hint.disabled {
}
#u2192_img.selected.error.disabled {
}
#u2192.selected.error.disabled {
}
#u2192_img.selected.error.hint.disabled {
}
#u2192.selected.error.hint.disabled {
}
#u2192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
  text-transform:none;
}
#u2192_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2193 label {
  left:0px;
  width:100%;
}
#u2193_img {
  border-width:0px;
  position:absolute;
  left:26px;
  top:2px;
  width:13px;
  height:13px;
}
#u2193 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:410px;
  width:39px;
  height:15px;
  display:flex;
}
#u2193 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2193_img.selected {
}
#u2193.selected {
}
#u2193_img.disabled {
}
#u2193.disabled {
}
#u2193_img.selected.error {
}
#u2193.selected.error {
}
#u2193_img.selected.hint {
}
#u2193.selected.hint {
}
#u2193_img.selected.error.hint {
}
#u2193.selected.error.hint {
}
#u2193_img.mouseOver.selected {
}
#u2193.mouseOver.selected {
}
#u2193_img.mouseOver.selected.error {
}
#u2193.mouseOver.selected.error {
}
#u2193_img.mouseOver.selected.hint {
}
#u2193.mouseOver.selected.hint {
}
#u2193_img.mouseOver.selected.error.hint {
}
#u2193.mouseOver.selected.error.hint {
}
#u2193_img.mouseDown.selected {
}
#u2193.mouseDown.selected {
}
#u2193_img.mouseDown.selected.error {
}
#u2193.mouseDown.selected.error {
}
#u2193_img.mouseDown.selected.hint {
}
#u2193.mouseDown.selected.hint {
}
#u2193_img.mouseDown.selected.error.hint {
}
#u2193.mouseDown.selected.error.hint {
}
#u2193_img.mouseOver.mouseDown.selected {
}
#u2193.mouseOver.mouseDown.selected {
}
#u2193_img.mouseOver.mouseDown.selected.error {
}
#u2193.mouseOver.mouseDown.selected.error {
}
#u2193_img.mouseOver.mouseDown.selected.hint {
}
#u2193.mouseOver.mouseDown.selected.hint {
}
#u2193_img.mouseOver.mouseDown.selected.error.hint {
}
#u2193.mouseOver.mouseDown.selected.error.hint {
}
#u2193_img.focused.selected {
}
#u2193.focused.selected {
}
#u2193_img.focused.selected.error {
}
#u2193.focused.selected.error {
}
#u2193_img.focused.selected.hint {
}
#u2193.focused.selected.hint {
}
#u2193_img.focused.selected.error.hint {
}
#u2193.focused.selected.error.hint {
}
#u2193_img.selected.disabled {
}
#u2193.selected.disabled {
}
#u2193_img.selected.hint.disabled {
}
#u2193.selected.hint.disabled {
}
#u2193_img.selected.error.disabled {
}
#u2193.selected.error.disabled {
}
#u2193_img.selected.error.hint.disabled {
}
#u2193.selected.error.hint.disabled {
}
#u2193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
  text-transform:none;
}
#u2193_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2194 label {
  left:0px;
  width:100%;
}
#u2194_img {
  border-width:0px;
  position:absolute;
  left:26px;
  top:2px;
  width:13px;
  height:13px;
}
#u2194 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:433px;
  width:39px;
  height:15px;
  display:flex;
}
#u2194 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2194_img.selected {
}
#u2194.selected {
}
#u2194_img.disabled {
}
#u2194.disabled {
}
#u2194_img.selected.error {
}
#u2194.selected.error {
}
#u2194_img.selected.hint {
}
#u2194.selected.hint {
}
#u2194_img.selected.error.hint {
}
#u2194.selected.error.hint {
}
#u2194_img.mouseOver.selected {
}
#u2194.mouseOver.selected {
}
#u2194_img.mouseOver.selected.error {
}
#u2194.mouseOver.selected.error {
}
#u2194_img.mouseOver.selected.hint {
}
#u2194.mouseOver.selected.hint {
}
#u2194_img.mouseOver.selected.error.hint {
}
#u2194.mouseOver.selected.error.hint {
}
#u2194_img.mouseDown.selected {
}
#u2194.mouseDown.selected {
}
#u2194_img.mouseDown.selected.error {
}
#u2194.mouseDown.selected.error {
}
#u2194_img.mouseDown.selected.hint {
}
#u2194.mouseDown.selected.hint {
}
#u2194_img.mouseDown.selected.error.hint {
}
#u2194.mouseDown.selected.error.hint {
}
#u2194_img.mouseOver.mouseDown.selected {
}
#u2194.mouseOver.mouseDown.selected {
}
#u2194_img.mouseOver.mouseDown.selected.error {
}
#u2194.mouseOver.mouseDown.selected.error {
}
#u2194_img.mouseOver.mouseDown.selected.hint {
}
#u2194.mouseOver.mouseDown.selected.hint {
}
#u2194_img.mouseOver.mouseDown.selected.error.hint {
}
#u2194.mouseOver.mouseDown.selected.error.hint {
}
#u2194_img.focused.selected {
}
#u2194.focused.selected {
}
#u2194_img.focused.selected.error {
}
#u2194.focused.selected.error {
}
#u2194_img.focused.selected.hint {
}
#u2194.focused.selected.hint {
}
#u2194_img.focused.selected.error.hint {
}
#u2194.focused.selected.error.hint {
}
#u2194_img.selected.disabled {
}
#u2194.selected.disabled {
}
#u2194_img.selected.hint.disabled {
}
#u2194.selected.hint.disabled {
}
#u2194_img.selected.error.disabled {
}
#u2194.selected.error.disabled {
}
#u2194_img.selected.error.hint.disabled {
}
#u2194.selected.error.hint.disabled {
}
#u2194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
  text-transform:none;
}
#u2194_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
